@import "mixin";

body, html {
  width: 100%;
  height: 100%;
}

.sina_page {
  position: relative;
  width: 100%;
  min-height: 100%;
  color: #333;
  background: $col_bg;
  font-size: $font24;
  line-height: 1.5;

  &.back_fff {
    background: #fff;
  }

  &.haspagebot {
    padding-bottom: 358px;
  }

  .sina_cont {
    padding: 0 30px;
  }

  .sina_hasbg {
    width: 100%;
    position: relative;
    &.join_bg{
      background-image: url("http://bihu-oss.oss-cn-beijing.aliyuncs.com/images/sina_weibo/DBFormBannerGive.png?v=1.0");
    }
    &.channel_nogive{
      background-image: url("http://bihu-oss.oss-cn-beijing.aliyuncs.com/images/sina_weibo/DBFormBanner1_2x.png?v=3.0");
    }
    &.valent{
      background-image: url("http://bihu-oss.oss-cn-beijing.aliyuncs.com/images/sina_weibo/valent/DBTopbgValent.jpg?v=3.0");
    }
    &.noValent{
      background-image: url("http://bihu-oss.oss-cn-beijing.aliyuncs.com/images/sina_weibo/valent/DBTopbgNoValent.jpg?v=3.0");
    }
    &.channel_default{
      background-image: url("http://bihu-oss.oss-cn-beijing.aliyuncs.com/images/sina_weibo/DBFormBanner2_2x.png?v=1.0");
    }
    // &.write_bg{
    //   background-image: url("http://bihu-oss.oss-cn-beijing.aliyuncs.com/images/sina_weibo/DBFormBanner11_2x.png?v=1.0");
    // }
  }
  .sina_bot_ab{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  //圆角背景
  .sina_radius_bg {
    background: #fff;
    box-shadow: 0px 3px 12px 0px rgba(183, 182, 182, 0.3);
    @include borderRadius(20px);
    padding: 40px;
    @include mlr30;

    &.hasbor {
      box-shadow: none;
      border: 1px solid rgba(230, 230, 230, 1);
    }

    &.hasback {
      background: #F9F9FC;
    }
    &.noboxshow{
      box-shadow: none;
    }
  }


  //带有左边边框的标题
  .hasborTitle {
    border-left: 6px solid $primary;
    padding-left: 22px;
    height: 32px;
    line-height: 32px;
    font-size: 32px;
    font-weight: 600;
  }

  .normalTitle {
    padding: 40px 30px 30px;
    font-size: 32px;
    background: transparent;
  }

  //输入框
  .sina_input {
    width: 100%;
    padding: 24px 38px;
    height: 88px;
    font-size: 32px;
    line-height: 40px;
    background: rgba(255, 255, 255, 1);
    @include borderRadius(44px);
    border: 1px solid rgba(230, 230, 230, 1);
    margin-bottom: 32px;
    &.icon{
      position: relative;
      padding-right: 68px;
      &.down::after{
        content: '';
        @include ct;
        right: 38px;
        width: 30px;
        height: 30px;
        display: block;
        background: url("/static/images/sinaIconDown.png") no-repeat;
        background-size: 30px 30px;
      }
      .input_css {
        text-align: left;
        border: 0;
        background: transparent;
        width: 100%;
      }
    }
  }

  .sina_input_normal {
    position: relative;
    padding: 32px 0;
    line-height: 40px;
    font-size: 28px;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: content-box;
    @include fj();
    &.has_icon {
      padding-right: 40px;
      background-size: 30px 30px;
      background-position: center right;
      .input_css {
        text-align: left;
        font-size: 28px;
      }
    }
    .label {
      min-width: 80px;
    }
    .input_css {
      text-align: right;
      border: 0;
      flex: 1;
    }
    &.radius{
      margin-top: 30px;
      border-radius:55px;
      border:1PX solid rgba(230,230,230,1);
      padding-left: 40px;
      .label {
        min-width:140px;
      }
      .input_css {
        margin-right: 40px;
      }
    }
  }
  .sina_textarea{
    width:100%;
    position: relative;
    padding: 16px 20px;
    background:#fff;
    border-radius:10px;
    border: 1PX solid #E6E6E6;
    font-size: 22px;
    &.disabled{
      border-color: #fff;
      background:rgba(245,245,249,1);
      .counts{
        color: #939393;
      }
    }
    &.hascount{
      padding-bottom: 48px;
      .counts{
        position: absolute;
        right: 16px;
        bottom: 10px;
        font-size: 20px;
      }
    }
    textarea{
      width: 100%;
      height: 80px;
      background:transparent;
      border: 0;
    }
  }




  .sina_btn_icon {
    border: 1px solid $primary;
    color: $primary;
    padding: 6px 26px;
    background: rgba(255, 255, 255, 1);
    border-radius: 45px;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  // 带图标的居中显示
  .plan-media-box_appmsg {
    display: flex;
    align-items: center;

    .plan-media-box__hd {
      margin-right: 28px;
      width: 64px;
      height: 64px;
      line-height: 64px;
      text-align: center;

      .plan-media-box__thumb {
        width: 100%;
        max-height: 100%;
        vertical-align: top;

        img {
          width: 100%
        }
      }
    }

    .plan-media-box__bd {
      flex: 1;
      min-width: 0;
      font-size: 28px;
    }

  }

  .plan_hasback {
    background: #fff;
    margin-top: 20px;
    padding-bottom: 48px;

    .title_cont {
      padding: 30px 0;
      margin-bottom: 40px;
      border-bottom: 1px solid #e6e6e6;
    }
  }

  //箭头
  .hasarrow {
    padding-right: 24px;
    position: relative;

    &::after {
      content: "";
      @include ct;
      right: 0;
      width: 16px;
      height: 16px;
      margin-top: -8px;
      border: 1px solid #939393;
      border-bottom-width: 0;
      border-left-width: 0;
      transition: transform .3s;
    }
    &.min::after{
      width: 12px;
      height: 12px;
      margin-top: -6px;
      right: 30px;
    }
    &.col_fff::after {
      border-color: #fff;
    }
    &.right::after {
      transform: rotate(45deg);
    }

    &.bottom::after {
      transform: rotate(135deg);
    }
  }

  //单选
  .sina_radios{
    .sina_radio{
      line-height: 30px;
      position: relative;
      display: inline-block;
      font-size: 28px;
      padding: 20px 20px 20px 40px;
      &.active::after{
        background: $primary;
      }
      &:after{
        content: '';
        @include ct;
        left: 0;
        width: 26px;
        height: 26px;
        border: 1px solid #e6e6e6;
        border-radius: 50%;
      }
    }
  }
  //

  .join_desc {
    width: 100%;
    margin-top: 24px;
    padding-left: 40px;
    position: relative;
    color: $col_a;
    font-size: 22px;
    .checkbox{
      width: 26px;
      height: 26px;
      display: block;
      position: absolute;
      top: 6px;
      left: 0px;
      border: 1px solid #4ACE98;
      border-radius: 4px;
      background: #fff;
      &.checked{
        background :  #4ACE98 url("/static/images/sinaIconChecked3_2x.png") no-repeat center;
        background-size: 18px 18px;

      }
    }
  }
  .page_bot {
    margin-top: 48px;
    background: #fff;

    .my_service {
      height: 82px;
      line-height: 82px;
      color: $primary;
      text-align: center;
      border-top: 1px solid #e6e6e6;
    }

    .login_icon {
      width: 100%;
      height: 102px;
      background-color: #fff;
      background-position: center;
      background-size: 108px 28px;
      border-top: 1px solid #e6e6e6;
    }

  }

  .img_100 {
    width: 100%;
  }


  .font32 {
    font-size: $font32;
  }

  .flex {
    @include fj()
  }

  .flex1 {
    @include flex(1)
  }
  .fr{
    float: right;
  }
  .textr{
    text-align: right;

  }
  .blod {
    font-weight: 600;
  }

  // 公示
  .public_cells {
    @include fj();

    .public_cell {
      .medium {
        width: 250px;
      }

      @include flex(1);
      text-align: center;

      .nums {
        font-size: 52px;
        line-height: 76px;
        padding-bottom: 12px;

        i {
          font-size: 24px;
          font-style: normal;
          font-weight: normal;
        }
      }

      .txt {
        color: $grey;
      }
    }
  }
  //tab选项卡--公示和分摊
  .plan_types{
    color: #939393;
    background: #fff;
    font-size: 28px;
    display: flex;
    text-align: center;
    .plan_type{
      position: relative;
      padding: 30px 0;
      flex: 1;
      &:after {
        content: "";
        @include cl;
        bottom: 16px;
        width: 0px;
        height: 4px;
        background-color: transparent;
        transition: all .3s;
      }
      &.active {
        font-weight: bold;
        color: $primary;
        &:after {
          width: 50px;
          background-color: $primary;
        }
      }
    }
  }
}


//  动画效果
.fadeIn-enter-active, .fadeIn-leave-active{
  transition: opacity .3s;
}
.fadeIn-enter, .fadeIn-leave-active{
  opacity: 0;
}
.translate-bottom-enter-active, .translate-bottom-leave-active{
  transition: all 0.3s cubic-bezier(.36,.66,.04,1);
}
.translate-bottom-enter, .translate-bottom-leave-active{
  bottom: -10% !important;
  opacity: 0;
}
//按钮
.sina_btn {
  width: 100%;
  height: 84px;
  line-height: 84px;
  font-size: $font34;
  border: 1px solid #e6e6e6;
  text-align: center;

  &.wauto{
    width: auto;
    min-width: 220px;
    padding: 0 20px;
    height: 68px;
    line-height: 68px;
    font-size: $font28;
    display: inline-block;
  }

  &.radius {
    border-radius: 42px;
    &.primary {
      background: linear-gradient(270deg, rgba(255, 188, 51, 1) 0%, rgba(255, 130, 0, 1) 100%);
      color: #fff;
      border: 0;
    }
    &.grey {
      background-image: linear-gradient(90deg, #857E77 0%, #B3ADA0 100%);
      color: #fff;
      border: 0;
    }
    &.default {
      background: #fff;
      color: #939393;
      border-color: #d0d0d0;
    }

    &.line {
      &.primary {
        border:1PX solid $primary;
        background: #fff;
        color: $primary;
      }
      &.white {
        border-color: white;
        background: $primary;
        color: white;
        box-shadow:0px 7px 24px 0px rgba(223,61,1,0.5);
      }
    }
  }
  &.medium {
    width: 220px;
    height: 68px;
    border-radius: 34px;
    line-height: 68px;
    font-size: $font28;
    display: inline-block;
  }
  &.max{
    height: 100px;
    line-height: 100px;
    border-radius: 50px;
  }

}

//勾选
.check_box {
  color: $grey;
  font-size: 22px;
  position: relative;
  margin: 0 auto;
  padding-left: 40px;
  &::before,&.checked::before {
    content: '';
    width: 26px;
    height: 26px;
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    border: 1px solid #979797;
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
  }

  &.checked::before{
    background-size: 18px 18px;
    background-position: center;
    background-image: url("/static/images/sinaIconChecked1_2x.png");
    background-color: #fff;
    background-repeat: no-repeat;
  }
  &.bg1::before{
    border: 1px solid #fff;
  }
  &.bg2.checked::before{
    background-image: url("/static/images/sinaIconChecked2_2x.png");
    background-color: #fff;
  }
  &.bg3.checked::before{
    background-image: url("/static/images/sinaIconChecked4_2x.png");
  }
  &.primary{
    &::before {
      border-color: #4ACE98;
    }
    &.checked::before {
      background-color: #4ACE98;
    }
  }

}
//受助类型弹框
.sinaalertbox{
  .help_type{
    display: flex;
    height:64px;
    font-size: 24px;
    color: #fff;
    line-height: 64px;
    margin-bottom: 36px;
    margin-top: 40px;
    &:first-child{
      margin-top: 0;
    }
    .help_type_name{
      padding: 0 30px;
      background:rgba(255,130,0,1);
      border-radius:32px 0px 0px 32px;
      margin-right: 10px;
    }
    .help_type_desc{
      flex: 1;
      padding: 0 30px;
      background:rgba(255,184,111,1);
      border-radius:0 32px 32px 0px;
    }
  }
  .help_type_info{
    color: #FF8200;
    text-align: center;
    padding-top: 30px;
  }

}
.toast-mask {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .8);
  z-index: 9996;
}

.col_a {
  color: $col_a;
  cursor: pointer
}

.col_primary {
  color: $primary
}

.col_grey {
  color: $grey
}
.col_ffb93c{
  color: #FFB93C;
}
.col_red{
  color: #c82a29;
}
// 弹窗中样式
.alert_note_info{
  margin-top: 26px;
  padding: 24px 30px;
  font-size: 22px;
  background:rgba(245,245,249,1);
  border-radius:25px;
}
.exit_redPacketBg{
  width: 470px;
  height: 250px;
  background: url("http://bihu-oss.oss-cn-beijing.aliyuncs.com/images/sina_weibo/exitRedpacketbg1.png?v=2") no-repeat;
  background-size: 470px 250px;
  color: #FFFCE6;
  font-size: 26px;
  line-height: 136px;
  padding-top: 24px;
  text-align: center;
  .money{
    font-size: 86px;
  }
  &.bg2{
    background-image: url("http://bihu-oss.oss-cn-beijing.aliyuncs.com/images/sina_weibo/exitRedpacketbg2.png?v=2");
  }
}

.exit-infos{
  background: #fff;
  padding: 47px 36px 0 40px;
  font-size: 26px;
  .exit_txt_tips {
    line-height: 40px;
    i {
      background: $primary;
      color: #fff;
      border-radius: 10px;
      font-size: 22px;
      line-height: 40px;
      display: inline-block;
      font-style: normal;
      padding: 0 12px;
    }
  }
  .exit_now{
    padding: 24px 0 44px;
  }
  .exit_cells{
    font-size: 28px;
    padding: 0 20px;
    font-weight: bold;
    .exit_cell{
      padding-left: 52px;
      background: url("/static/images/exitIcon_2x.png") no-repeat left center;
      background-size: 34px 34px;
      margin-top: 18px;
      line-height: 40px;
      &:first-child{
        margin-top: 0;
      }
    }
  }
  .footer_btns{
    padding: 70px 10px 86px;
    background: #fff;
    .sina_btn{margin-right: 30px;}
  }
}
.alert_ul{
  padding-top: 30px;
  .alert_li{
    padding-left: 36px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 12px;
      left: 10px;
      width: 10px;
      height: 10px;
      background: $primary;
    }
    padding-bottom: 30px;
    &:last-child{
      padding-bottom: 0;
    }
  }
  &.edit_amnt{
    font-size: 22px;
    .alert_li::before{
      background-color:#B7B6B6;
      border-radius: 50%;
    }
  }
}

